.classPane {
    width: fit-content;
    height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    padding: 1%;
    display: inline-block;
    background-color: rgba(var(--c3), 0.55);
    margin: 1%;
    border-radius: 5px;
    transition: 0.25s ease;
}

.classPane:hover {
    scale: 1.1;
}

.classHeader {
    color: rgba(var(--c3), 0.94);
    font-size: clamp(15px, 3vmin, 33px);
}

.classSubHeader {
    color: rgba(var(--c3), 0.80);
    font-size: clamp(14px, 2vmin, 34px);
}

h2 {
    all: unset;
}

.breakerBar {
    border-style: solid;
    color: rgb(var(--c3));
}

.classButton {
    background-color: rgba(var(--c1), 0.41);
    width: fit-content;
    height: fit-content;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease;
    display: inline-block;
}

.classButton:hover {
    background-color: rgba(var(--c3), 0.25);
    scale: 1.1;
    text-decoration: underline;
}

.classPane.addClass {
    text-align: center;
    position: sticky;
    bottom: 1%;
    right: 1%;
    transform-origin: left;
    background-color: rgb(var(--c2));
    cursor: pointer;
    user-select: none;
}