.linksGrid {
    display: grid;
    grid-template-columns: 0.175fr 1fr;
}

.linkPart {
    background-color: rgba(var(--c3), 0.2);
    margin: 1vmin;
    border-radius: 8px;
}

.sectorB {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
}

.classSectorHeader {
    width: 100%;
    padding: 1%;
    font-size: clamp(2px, 1.3cqi, 33px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    color: rgb(var(--c3));
    display: flex;
    direction: ltr;
    padding-left: 5%;
}

.headersTab {
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
}