.linksGrid {
    display: grid;
    grid-template-columns: 0.175fr 1fr;
}

.linkPart {
    background-color: rgba(var(--c3), 0.2);
    margin: 1vmin;
    border-radius: 8px;
}

.sectorB {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
}