.linksGrid {
    display: grid;
    grid-template-columns: 0.175fr 1fr;
}

.linkPart {
    background-color: rgba(var(--c3), 0.2);
    margin: 1vmin;
    border-radius: 8px;
}

.sectorB {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
}

.classSectorHeader {
    width: 100%;
    padding: 1%;
    padding-left: 3%;
    font-size: clamp(2px, 1.6cqi, 33px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    color: rgb(var(--c3));
    display: flex;
}

.headersTab {
    overflow-x: hidden;
    overflow-y: auto;
}

.linksHeader {
    font-size: clamp(7px, 2vmin, 24px);
    font-weight: 400;
    color: rgb(var(--c3));
    padding: 2%;
    border-radius: 8px;
    margin: 2%;
    margin-left: 1%;
    width: 80%;
    cursor: pointer;
    transition: 0.25s ease;
    transform-origin: left;
}

.linksHeader.usable:hover {
    scale: 1.05;
}

.linksHeader.usable:active {
    scale: 0.95;
}